%div.welcome.center
  %p Sarah's Slime Time
  %div.slime_recipes
    %p Slime Recipes
    - @slimes.in_groups_of(3).each do |slime_group|
      %div.slimes
        - slime_group.compact.each do |slime|
          %button#td_recipe= link_to "#{slime}", "/slime/#{slime.parameterize.underscore}"

