%div.welcome.recipes.center
  %p Sarah's Slime Time
  %div.recipes.left
    %h2 Slime Recipes

    %table.slimes
      %thead
      %tbody
        - @slimes.each do |slime|
          %tr
            %td= link_to "#{slime}", "/slime/#{slime.parameterize.underscore}"
